<% if @notes.empty? %>
  <tr>
    <td align="center" class="msg">No Notes Found!</td>
  </tr>
<% else %>
  <% @notes.each do |note| %>
  <tr>
    <td>
        Title: <b><%= link_to note.title, note_comments_path(note.id), remote: :true , class: :link, action: :replace  %></b>&nbsp;
        <% if note.is_important then %>
          <%= link_to change_importance_path(note.id, 'false'), data: {remote: true} do %>
            <i class="fa fa-heart" style="float:right; color:#ff0000; font-size:20px"></i>
          <% end %>
        <% else %>
          <a href="/notes/change_importance/<%= note.id%>/true" data-remote="true"><i class="fa fa-heart" style="float:right; color:#696969; font-size:20px"></i></a>
        <% end %><br>
        <%= link_to 'Edit' , edit_note_path(note.id), remote: :true, class: :link, action: :replace %> |
        <%= link_to 'Delete', note_path(note), method: :delete, remote: :true, data: { confirm: 'Do you want to delete' }, class: :link %> |
        <%= link_to 'New Comment', new_note_comment_path(note.id), remote: :true, class: :link %>
    </td>
  </tr>
  <% end %> <!-- end of do loop -->

<% end %> <!-- end of if -->
