<!-- Modal -->
<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header bg-info">
      <h4 class="modal-title">Share Note "<%= @note.title %>"</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <%= form_tag({controller: :notes,action: :check_email}, method: :post)  do %>
      <%= hidden_field_tag :note_id, @note.id %>
    <div class="modal-body">
      Enter email to share the note :
      <%= email_field_tag("user_email","",class: "form-control",required: true) %>
      Permission : <br>
      <%= radio_button_tag :permission, 1, required: true %> Read Only&nbsp;&nbsp;&nbsp;
      <%= radio_button_tag :permission, 2, required: true %> Can Edit&nbsp;&nbsp;&nbsp;
      <%= radio_button_tag :permission, 3, required: true %> Owner's permissions&nbsp;&nbsp;&nbsp;
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-info">Share note</button>
    </div>
    <% end %>
  </div>
</div>
