<!-- The Modal -->
<div class="modal-dialog modal-lg">
  <div class="modal-content">

    <!-- Modal Header -->
    <div class="modal-header">
      <h4 class="modal-title"></h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <%= form_with model:[note, comment] do |frm| %>
    <!-- Modal body -->
    <div class="modal-body">
      Note Title:
      <input type="text" name="" value="<%= note.title %>" disabled="true" class="form-control">
      <%= frm.hidden_field :note_id, value: note.id %>
      Comments :
      <%= frm.text_area :description, autocomplete: "current-password", class: "form-control tinymce"  %>
    </div>

    <!-- Modal footer -->
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <%= frm.submit "", class: "btn btn-info submit" %>
    </div>
    <% end %>
  </div>
</div>
<%= tinymce %>
