<div class="row">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-6">
        <h5><u><b><%= @note.title %></b></u></h5>
        <% if @note.is_important then %>
          <p class="badge badge-success">Marked As Important</p>
        <% else %>
          <a href="/notes/change_importance/<%= @note.id%>/true" data-remote="true"><i class="fa fa-heart" style="color:#696969; font-size:20px"></i></a>
        <% end %>
        <pre><%= @note.description %></pre>
        Tags : <% if @note.tag_list.empty?  %>
          <span class="msg">No Tags Added</span>
        <% else %>
          <% @note.tag_list.each do |tag| %>
            <span class="badge badge-dark"><%= tag %></span>
          <% end %>
        <% end %><br><br>
        <u>Note Owner : <%= @note.user.name %></u><br>
      </div>
      <div class="col-lg-6" align="right">
        <%= link_to 'Add New Comment', new_note_comment_path(@note), remote: :true, class: "btn btn-info" %>
      </div>
    </div>
  </div>
</div>
<hr>
<% if @note.comments.empty? %>
  <center class="msg">No Comments Added Yet For <%= @note.title %> !!<center>
<% else %>
    <div class="col-lg-12">
      <% @comments.each do |comment| %>
      <div class="row">
        <div class="col-lg-6">
          <b><%= if comment.user.name==current_user.name then "You" else comment.user.name end %></b>&nbsp; commented on &nbsp; <b><%= comment.created_at.strftime("%d-%m-%Y") %></b>
        </div>
        <div class="col-lg-6" align="right">
          <%= link_to 'Edit' , edit_note_comment_path(@note,comment), remote: :true, class: :link %> |
          <%= link_to 'Delete', note_comment_path(@note,comment), method: :delete, remote: :true, data: { confirm: 'Do you want to delete' }, class: :link %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <%= comment.description %>
        </div>
      </div>
      <hr>
      <% end %>
      <div class="digg_pagination" align="center">
        <div class="page_info" align="center">
          <%= page_entries_info @comments %>
        </div>
        <div align="center" class="links">
          <%= will_paginate @comments %>
        </div>
      </div>
    </div>
<% end %>
<script type="text/javascript">
  $(function(){
     $('.links a').attr('data-remote', 'true')
   });
</script>
