<% if @notes.empty? %>
  <tr>
    <td align="center" class="msg">No Notes Found!</td>
  </tr>
<% else %>
  <% @notes.each do |note| %>
  <tr>
    <td>
      <% owner_name = note.user.name %>
      <% note_name = note.title %>
      <% owner_email = note.user.email %>
      Title: <b><%= link_to note_name, note_comments_path(note.note_id), remote: true , class: :link, action: :replace  %></b>
      <br>
      <% if can? :update,note %>
        <%= link_to  edit_note_path(note.note_id),remote: :true, class: "btn btn-outline-info", title: "Edit This Note" do %>
          <i class="fa fa-pencil" style="font-size:20px"></i>
        <% end %>&nbsp;&nbsp;
      <% end %>
      <%= link_to new_note_comment_path(note.note_id),remote: :true, class: "btn btn-outline-info", title: "Add new comment" do %>
        <i class="fa fa-plus" style="font-size:20px"></i>
      <% end %>&nbsp;&nbsp;
      <% if cannot? :update,note   %>
        <%= link_to  ask_for_permission_path(note.id,owner_name,note_name,owner_email),remote: :true, class: "btn btn-outline-info", title: "Ask For Edit Permission" do %>
          <i class="fa fa-question" style="font-size:20px"></i>
        <% end %>&nbsp;&nbsp;
      <% end %>
      <% if can? :manage,note %>
        <%= link_to note_path(note.note_id), remote: true, title: "Delete this note", class: "btn btn-outline-info", method: :delete, data: { confirm: 'Do you want to delete' } do %>
          <i class="fa fa-trash" style="font-size:20px"></i>
        <% end %>&nbsp;&nbsp;
        <%= link_to new_share_path(note_id:note.note_id), remote: true, title: "Share this note", class: "btn btn-outline-info" do %>
          <i class="fa fa-share-alt" style="font-size:20px"></i>
        <% end %>
      <% end %><br>
      Shared by : <%= owner_name %>
    </td>
  </tr>
  <% end %> <!-- end of do loop -->
<% end %> <!-- end of if -->
