<!-- Modal -->
<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header bg-info">
      <h4 class="modal-title">Share Note "<%= note.title %>"</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <%= form_with model:share, method: :post do |share| %>
      <%= share.hidden_field :note_id, value: note.id %>
      <div class="modal-body">
        Enter email(s) to share the note :
        <%= share.text_field :email, class: "form-control", required: true %>
        Permission : <br>
        <%= share.radio_button :permission_id, 1, checked: true %> Read Only&nbsp;&nbsp;&nbsp;
        <%= share.radio_button :permission_id, 2 %> Can Edit&nbsp;&nbsp;&nbsp;
        <%= share.radio_button :permission_id, 3 %> Owner's permissions&nbsp;&nbsp;&nbsp;
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-info">Share note</button>
      </div>
    <% end %>
  </div>
</div>
