<table class="table table-bordered table-striped">
  <tr>
    <th>Sr. No</th>
    <th>Event Details</th>
    <th>Event Description</th>
    <th>Action</th>
  </tr>
  <% i = 0; @event_list.items.each do |event| %>
  <tr>
    <td><%= i = i + 1%></td>
    <td><%= event.summary %></td>
    <td><%= event.description %></td>
    <td>
      <%= link_to edit_event_path(event.id,calendar_id: @calendar_id), class:
       "btn btn-outline-info", title: "Change Event", remote: true do %>
        <i class="fa fa-pencil"></i>
      <% end %>&nbsp;&nbsp;&nbsp;

      <%= link_to event_path(event.id,calendar_id: @calendar_id), class:
       "btn btn-outline-info", title: "Change Event", method: :delete,
       data: {confirm: 'Do you want to delete this event?'} do %>
        <i class="fa fa-trash"></i>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
