<center><h2>NoteMe</h2></center>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <center><%= devise_error_messages! %></center>
  <div class="col-lg-12" align="center">
    <div class="col-lg-3 jumbotron" align="left" style="border: 1px #A9A9A9 solid">
      <center><h3>Sign up</h3></center>

      <%= f.label :Name %><br />
      <%= f.text_field :name, autocomplete: "name", class: "form-control" %>

      <%= f.label :Contact %><br />
      <%= f.text_field :contact, autocomplete: "contact", class: "form-control" %>

      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>

      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>

      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      <br />
      <center><%= f.submit "Sign up", class: "form-control btn btn-info" %></center>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
